$pink: #db0d52;


@media screen and (min-width: 500px) {
    %translucent {
        color: white;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        opacity: 0.7;
        width: 90%;
        text-align: center;
    }
    
    img {
        width: 100%;
    }

    body {
        font-size: 1.4vw;
        text-align: justify;
        .supersub {
            
            background-color: #e6e3e3;
            margin-top: 3.5vw;
            margin-bottom: 3.5vw;
            padding: 2.1vw;
        
            .subdata {
                padding: 2.1vw;
            }
            .subheading {
                font-size: 2.8vw;
                color: white;
                background-color: $pink;
                padding: 2.1vw;
            }
        }
        
    }
    .navbar-brand {
        img {
            height: 5vw;
            width: 20vw;
        }
    }
    
    h1 {
        background-color: $pink;
        color: white;
        font-size: 7vw;
        padding-top: 3.5vw;
        padding-bottom: 3.5vw;
        padding-left: 1vw;
        }

    #list {
        background-color: #e6e3e3;
        font-size: 2.1vw;
        div {
            a {
                color: white;
            }
            background-color: rgb(40, 39, 39);
            margin-top: 0.7vw;
            padding: 0.7vw;
            a:hover {
                color: yellow;
                text-decoration: none;
            }
        }  
    }

    #morephotos {
        font-size: 2.1vw;
        text-align: right;
    }

    #places {
        
        #boxes {
            display: flex;
            flex-wrap: wrap;
            div {
                position: relative;
                padding: 1.5vw;
                img {
                    height: 28vw;
                    margin-right: 0.7vw;
                    margin-top: 0.7vw;
                    margin-bottom: 0.7vw;
                }
                a {
                    @extend %translucent;
                    font-size: 1.75vw;
                    bottom: 0.28vw;
                    padding: 1.4vw;
                }
            }
        }
    }  

    #reach {
        .subdata {
            h3 {
                font-size: 2.8vw;
                color: $pink;
                margin-top: 3.85vw;
            }
            img {
                width: 7%;
                height: auto;
                float: left;
            }
            p {
                margin: 1.4vw;
            }
        }
    }

    #reference {
        a, li {
            color: rgb(0, 132, 255);
            list-style-type: lower-greek;
        }
    }

    #morespots {
        h2 {
            background-color: black;
            font-size: 4.2vw;
            color: white;
            padding: 2.1vw;
        }
        
        #moreboxes {
            display: flex;
            flex-wrap: wrap;
            div {
                padding: 0.5vw;
                position: relative;
                width: 16.65%;
                img {
                    height: 10.5vw;
                    margin-top: 0.7vw;
                    margin-bottom: 0.7vw;
                }
                a {
                    @extend %translucent;
                    font-size: 1.05vw;
                    bottom: 0.07vw;
                    padding: 1vw;
                }
                a:hover {
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }

    #goback {
        margin-top: 2.8vw;
        font-size: 2.8vw;
        background-color: rgb(40, 39, 39);
        text-align: center;
        a {
            color: white;
        }
        a:hover {
            color: yellow;
            text-decoration: none;
        }
    }
}
@media screen and (max-width: 499px) {
    %translucentmobile {
        color: white;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        opacity: 0.7;
        width: 90%;
        text-align: center;
    }
    
    img {
        width: 100%;
    }

    body {
        font-size: 4.2vw;
        text-align: justify;
        .supersub {
            
            background-color: #e6e3e3;
            margin-top: 3.5vw;
            margin-bottom: 3.5vw;
            padding: 2.1vw;
        
            .subdata {
                padding: 2.1vw;
            }
            .subheading {
                font-size: 6.5vw;
                color: white;
                background-color: $pink;
                padding: 2.1vw;
            }
        }
        
    }
    .navbar-brand {
        img {
            height: 15vw;
            width: 60vw;
        }
    }
    
    h1 {
        background-color: $pink;
        color: white;
        font-size: 8vw;
        padding-top: 3.5vw;
        padding-bottom: 3.5vw;
        padding-left: 1vw;
        }

    #list {
        background-color: #e6e3e3;
        font-size: 7vw;
        div {
            a {
                color: white;
            }
            background-color: rgb(40, 39, 39);
            margin-top: 0.7vw;
            padding: 0.7vw;
            a:hover {
                color: yellow;
                text-decoration: none;
            }
        }  
    }

    #morephotos {
        font-size: 5.5vw;
        text-align: right;
    }

    #places {
        
        #boxes {
            display: flex;
            flex-wrap: wrap;
            div {
                position: relative;
                padding: 1.5vw;
                img {
                    height: 28vw;
                    margin-right: 0.7vw;
                    margin-top: 0.7vw;
                    margin-bottom: 0.7vw;
                }
                a {
                    @extend %translucentmobile;
                    font-size: 4vw;
                    bottom: 0.28vw;
                    padding: 1.4vw;
                }
            }
        }
    }  

    #reach {
        .subdata {
            h3 {
                font-size: 4.5vw;
                color: $pink;
                margin-top: 3.85vw;
            }
            img {
                width: 16%;
                height: auto;
                float: left;
            }
            p {
                margin: 1.4vw;
            }
        }
    }

    #reference {
        a, li {
            color: rgb(0, 132, 255);
            list-style-type: lower-greek;
        }
    }

    #morespots {
        h2 {
            background-color: black;
            font-size: 6.5vw;
            color: white;
            padding: 2.1vw;
        }
        
        #moreboxes {
            display: flex;
            flex-wrap: wrap;
            div {
                padding: 0.5vw;
                position: relative;
                width: 100%;
                img {
                    height: 60vw;
                    margin-top: 0.7vw;
                    margin-bottom: 0.7vw;
                }
                a {
                    @extend %translucentmobile;
                    font-size: 4vw;
                    bottom: 0.07vw;
                    padding: 1vw;
                }
                a:hover {
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }

    #goback {
        margin-top: 2.8vw;
        padding: 3vw;
        font-size: 5vw;
        background-color: rgb(40, 39, 39);
        text-align: center;
        a {
            color: white;
        }
        a:hover {
            color: yellow;
            text-decoration: none;
        }
    }
}
    