$pink: #db0d52;

h1 {
    font-size: 150px;
    text-align: center;
}
img {
    width: 100%;
}
#intro {
    background-color: #042a82;
    color: white;
    padding: 20px;
    text-align: justify;
    h3 {
        font-size: 60px;
    }

    p {
        font-size: 20px;
    }
}
#other {
    margin-top: 50px;
    margin-bottom: 50px;
    h4 {
        text-align: center;
        font-size: 40px;
        color: #646b7a;
    }
    p {
        text-align: justify;
        font-size: 20px;
        margin: 30px;
    }
}

#boxes_super {

    h3 {
        font-size: 60px;
        background-color: $pink;
        color: white;
        padding: 40px;
    }
    
    #boxes {
        display: flex;
        flex-wrap: wrap;
        div {
            position: relative;
            img {
                height: 400px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            a {
                color: white;
                font-size: 40px;
                position: absolute;
                bottom: 4px;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: black;
                opacity: 0.7;
                width: 90%;
                padding: 20px;
                text-align: center;
            }
        }
    }
}

#pic {
    width: 100%;
    height: 500px;
}

#table {
    margin-top: 50px;
    margin-bottom: 50px;
    h2 {
        font-size: 80px;
        color: #646b7a;
        text-align: center;
        margin-bottom: 50px;
    }
    table {
        // border-collapse: separate;
        background-color: rgb(215, 215, 215);
        width: 100%;
        th {
            font-size: 25px;
            margin: 20px;
            padding: 10px;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            color: white;
            background-color: $pink;
        }
        td {
            font-size: 17px;
            margin: 20px;
            padding: 30px;
            text-align: center;
        }
        .first {
            font-size: 20px;
            text-align: left;
            color: white;
            background-color: #575656;
            text-transform: uppercase;
        }
    }
}

#last {
    font-size: 50px;
    background-color: $pink;
    color: white;
    padding: 20px;
    text-align: right;
}
