$pink: #db0d52;

img {
    width: 100%;
}

body {
    h1 {
        font-size: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $pink;
        color: white;
    }
    #list {
        background-color: #e6e3e3;
        font-size: 30px;
        div {
            a {
                color: white;
            }
            background-color: rgb(40, 39, 39);
            margin-top: 10px;
            padding: 10px;
            a:hover {
                color: yellow;
                text-decoration: none;
            }
        }  
    }
    #morephotos {
        font-size: 40px;
        text-align: right;
    }
    font-size: 20px;
    text-align: justify;
    .supersub {
        
        background-color: #e6e3e3;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;
    
        .subdata {
            padding: 30px;
        }
        .subheading {
            font-size: 40px;
            color: white;
            background-color: $pink;
            padding: 30px;
        }
    }
    
}

#places {
    
    #boxes {
        display: flex;
        flex-wrap: wrap;
        div {
            position: relative;
            img {
                height: 400px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            a {
                color: white;
                font-size: 25px;
                position: absolute;
                bottom: 4px;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: black;
                opacity: 0.7;
                width: 90%;
                padding: 20px;
                text-align: center;
            }
        }
    }
}  

#reach {
    .subdata {
        h3 {
            font-size: 40px;
            color: $pink;
            margin-top: 55px;
        }
        img {
            width: 7%;
            height: auto;
            float: left;
        }
        p {
            margin: 20px;
        }
    }
}

#morespots {
    h2 {
        background-color: black;
        font-size: 60px;
        color: white;
        padding: 30px;
    }
    
    #moreboxes {
        display: flex;
        flex-wrap: wrap;
        div {
            position: relative;
            img {
                height: 150px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            a {
                color: white;
                font-size: 15px;
                position: absolute;
                bottom: 1px;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: black;
                opacity: 0.7;
                width: 87%;
                padding: 8px;
                text-align: center;
            }
            a:hover {
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

#goback {
    margin-top: 40px;
    font-size: 40px;
    background-color: rgb(40, 39, 39);
    text-align: center;
    a {
        color: white;
    }
    a:hover {
        color: yellow;
        text-decoration: none;
    }
}