@media screen and (min-width: 500px) {
  img {
    width: 100%;
  }

  body {
    font-size: 1.4vw;
    text-align: justify;
  }
  body .supersub {
    background-color: #e6e3e3;
    margin-top: 3.5vw;
    margin-bottom: 3.5vw;
    padding: 2.1vw;
  }
  body .supersub .subdata {
    padding: 2.1vw;
  }
  body .supersub .subheading {
    font-size: 2.8vw;
    color: white;
    background-color: #db0d52;
    padding: 2.1vw;
  }

  h1 {
    background-color: #db0d52;
    color: white;
    font-size: 7vw;
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    padding-left: 1vw;
  }

  #list {
    background-color: #e6e3e3;
    font-size: 2.1vw;
  }
  #list div {
    background-color: #282727;
    margin-top: 0.7vw;
    padding: 0.7vw;
  }
  #list div a {
    color: white;
  }
  #list div a:hover {
    color: yellow;
    text-decoration: none;
  }

  #morephotos {
    font-size: 2.1vw;
    text-align: right;
  }

  #places #boxes {
    display: flex;
    flex-wrap: wrap;
  }
  #places #boxes div {
    position: relative;
    padding: 1.5vw;
  }
  #places #boxes div img {
    height: 28vw;
    margin-right: 0.7vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
  }
  #places #boxes div a {
    color: white;
    font-size: 1.75vw;
    position: absolute;
    bottom: 0.28vw;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.7;
    width: 90%;
    padding: 1.4vw;
    text-align: center;
  }

  #reach .subdata h3 {
    font-size: 2.8vw;
    color: #db0d52;
    margin-top: 3.85vw;
  }
  #reach .subdata img {
    width: 7%;
    height: auto;
    float: left;
  }
  #reach .subdata p {
    margin: 1.4vw;
  }

  #morespots h2 {
    background-color: black;
    font-size: 4.2vw;
    color: white;
    padding: 2.1vw;
  }
  #morespots #moreboxes {
    display: flex;
    flex-wrap: wrap;
  }
  #morespots #moreboxes div {
    padding: 0.5vw;
    position: relative;
    width: 16.65%;
  }
  #morespots #moreboxes div img {
    height: 10.5vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
  }
  #morespots #moreboxes div a {
    color: white;
    font-size: 1.05vw;
    position: absolute;
    bottom: 0.07vw;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.7;
    width: 90%;
    padding: 1vw;
    text-align: center;
  }
  #morespots #moreboxes div a:hover {
    text-decoration: none;
    font-weight: bold;
  }

  #goback {
    margin-top: 2.8vw;
    font-size: 2.8vw;
    background-color: #282727;
    text-align: center;
  }
  #goback a {
    color: white;
  }
  #goback a:hover {
    color: yellow;
    text-decoration: none;
  }
}
@media screen and (max-width: 499px) {
  img {
    width: 100%;
  }

  body {
    font-size: 4.2vw;
    text-align: justify;
  }
  body .supersub {
    background-color: #e6e3e3;
    margin-top: 3.5vw;
    margin-bottom: 3.5vw;
    padding: 2.1vw;
  }
  body .supersub .subdata {
    padding: 2.1vw;
  }
  body .supersub .subheading {
    font-size: 6.5vw;
    color: white;
    background-color: #db0d52;
    padding: 2.1vw;
  }

  h1 {
    background-color: #db0d52;
    color: white;
    font-size: 8vw;
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    padding-left: 1vw;
  }

  #list {
    background-color: #e6e3e3;
    font-size: 7vw;
  }
  #list div {
    background-color: #282727;
    margin-top: 0.7vw;
    padding: 0.7vw;
  }
  #list div a {
    color: white;
  }
  #list div a:hover {
    color: yellow;
    text-decoration: none;
  }

  #morephotos {
    font-size: 5.5vw;
    text-align: right;
  }

  #places #boxes {
    display: flex;
    flex-wrap: wrap;
  }
  #places #boxes div {
    position: relative;
    padding: 1.5vw;
  }
  #places #boxes div img {
    height: 28vw;
    margin-right: 0.7vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
  }
  #places #boxes div a {
    color: white;
    font-size: 4vw;
    position: absolute;
    bottom: 0.28vw;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.7;
    width: 90%;
    padding: 1.4vw;
    text-align: center;
  }

  #reach .subdata h3 {
    font-size: 4.5vw;
    color: #db0d52;
    margin-top: 3.85vw;
  }
  #reach .subdata img {
    width: 16%;
    height: auto;
    float: left;
  }
  #reach .subdata p {
    margin: 1.4vw;
  }

  #morespots h2 {
    background-color: black;
    font-size: 6.5vw;
    color: white;
    padding: 2.1vw;
  }
  #morespots #moreboxes {
    display: flex;
    flex-wrap: wrap;
  }
  #morespots #moreboxes div {
    padding: 0.5vw;
    position: relative;
    width: 100%;
  }
  #morespots #moreboxes div img {
    height: 60vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
  }
  #morespots #moreboxes div a {
    color: white;
    font-size: 4vw;
    position: absolute;
    bottom: 0.07vw;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.7;
    width: 90%;
    padding: 1vw;
    text-align: center;
  }
  #morespots #moreboxes div a:hover {
    text-decoration: none;
    font-weight: bold;
  }

  #goback {
    margin-top: 2.8vw;
    padding: 3vw;
    font-size: 5vw;
    background-color: #282727;
    text-align: center;
  }
  #goback a {
    color: white;
  }
  #goback a:hover {
    color: yellow;
    text-decoration: none;
  }
}

/*# sourceMappingURL=stylespots.css.map */
